.form {
  &__fild {
    margin-bottom: 10px;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input:focus + & {
      fill: var(--accent-color);
    }
  }

  &__label {
    @include font(null, 12px, 1.17, 0.01em);
    // font-size: 12px;
    // line-height: 1.17;
    // letter-spacing: 0.01em;
    margin-bottom: 4px;

    color: var(--text-color);
  }

  &__input-fild {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &__coment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    @include font(null, 12px, 1.17, 0.01em);

    // font-size: 12px;
    // line-height: 1.17;
    // letter-spacing: 0.01em;
    resize: none;

    color: rgba(117, 117, 117, 0.5);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &__link {
    text-decoration-line: underline;
    color: var(--accent-color);
  }

  &__checkbox {
    margin-bottom: 30px;

    &-input {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }

    &-label {
      display: flex;
      gap: 7px;
      align-items: center;
      justify-content: center;
      @include font(null, 14px, 1.71, 0.03em);
      // font-size: 14px;
      // line-height: 1.71;
      // letter-spacing: 0.03em;

      color: var(--text-color);
    }
  }

  &__checkbox-icon {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__checkbox-input:checked + & {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
      background-image: url(../images/icon-check.svg);
      background-size: contain;
      background-origin: border-box;
    }
  }

  &__btn-modal {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
