:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --white_alpha: rgb(255, 255, 255, 0.6);
  --bgr-white: #f5f5f5;
  --bgr-gray: #f5f4fa;
  --bgr-dark: #2f303a;
  --border-color: #eeeeee;
  --border-client: #afb1b8;

  --card-set-gap: 30px;
}
