.address {
  font-style: normal;
  text-align: center;

  @include tablet {
    margin-bottom: 0;
  }
  @include desctop {
    text-align: left;
  }

  &__list &__item + &__item {
    margin-top: 9px;
  }

  &__link {
    @include mobile {
      @include font(null, 14px, 1.14, 0.03);
    }

    @include desctop {
      @include font(null, 14px, 1.71, 0.03em);
      // font-size: 14px;
      // line-height: 1.71;
      // letter-spacing: 0.03em;
    }

    color: var(--white_alpha);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }

    &--color-white {
      color: var(--white);
    }
  }
}

.logo-address {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0px;
  }
}
