.section {
  padding-top: 94px;
}

.section-img {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-elem {
  display: flex;
  gap: var(--card-set-gap);

  &__item {
    list-style: none;
  }

  &__content {
    width: 270px;

    &::before {
      content: "";
      display: block;
      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;
      background-color: var(--bgr-gray);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    @include font(700, 14px, 1.14, null);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--title-color);
  }
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
