.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.section-img {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    // visibility: hidden;
    display: none;
  }
}

.list-elem {
  display: flex;
  gap: var(--card-set-gap);
  flex-wrap: wrap;
  // width: 100%;

  &__item {
    list-style: none;
  }

  &__content {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }

    &::before {
      content: "";
      display: block;
      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;
      background-color: var(--bgr-gray);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    @include font(700, 14px, 1.14, null);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--title-color);
  }
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
