.hero {
  background-color: var(--bgr-dark);
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    width: 360px;
    @include font(900, 26px, 1.62, 0.06em);

    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    color: var(--white);

    @media screen and (min-width: 1200px) {
      width: 694px;
      @include font(900, 44px, 1.36, 0.06em);
    }
  }
}
