.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.radio-nav {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));

  &__item {
    position: relative;
    display: flex;
    flex-basis: calc(100% / 3 - var(--card-set-gap));

    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);

    transform: translate(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & > a {
      text-decoration: none;
    }
  }
}

.card {
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__tumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card:hover & {
      transform: translateY(0);
    }
  }

  &__overlaytext {
    @include font(400, 18px, 1.58, 0.03em);
    color: #ffffff;
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }

  &__title {
    @include font(700, 18px, 2, 0.06em);
    margin-bottom: 4px;
    color: var(--title-color);
  }

  &__text {
    @include font(null, 16px, 1.88, 0.03em);
    color: var(--text-color);
  }
}
